.typing-insights__header {
  text-align: center;
  color: white;
  font-size: 4.5rem;
  font-weight: bold;
  margin: 200px auto 80px;
}

.typing-insights__restart {
  position: fixed;
  right: 30px;
  top: 30px;
  color: #5f2ef5;
  cursor: pointer;
  font-size: 4rem;
}

.typing-insights__restart:hover {
  color: #6e3dff;
  filter: drop-shadow(1px 1px 7px #7141ff);
}
