.table {
  border-radius: 10px;
  display: block;
  overflow: auto;
  width: 80%;
  margin: auto;
  scrollbar-color: yellow blue;
}

.table::-webkit-scrollbar {
  width: 12px;
}
.table::-webkit-scrollbar-track {
  background: #151c22; /* color of the tracking area */
}
.table::-webkit-scrollbar-thumb {
  background-color: #58a6ff;
  border-radius: 20px;
  border: 3px solid #21262d;
}

.table__container {
  width: 100%;
  background-color: #21262d;
  table-layout: fixed;
}

.table__heading {
  background-color: #151c22;
  color: #58a6ff;
  text-align: center;
  padding: 25px;
  font-family: Helvetica;
  cursor: pointer;
  position: sticky;
  top: 0;
}

.table__data {
  color: #c9d1d9;
  text-align: center;
  padding: 25px;
  font-family: Helvetica;
  max-width: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #21262d;
}
