.typing-insights__data-container {
  flex: 1;
  padding: 150px auto;
  display: block;
}

.typing-insights__title-title {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.typing-insights__title {
  text-align: center;
  color: #c9d1d9;
  font-size: 4rem;
  font-weight: normal;
}

.typing-insights__data-section {
  display: block;
  position: relative;
  margin: 18vh auto 40vh;
  max-width: 1300px;
}

.typing-insights__sidebar {
  width: 300px;
}

.typing-insights__sidebar-content {
  margin: auto 30px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.typing-insights__line {
  width: 3px;
  background: white;
}

.typing-insights__key-acc {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 100px;
}
