body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1117;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #323437;
  --primary-color-300: #4b4d55;
  --complimentary-color: #e7e7e7;
  --secondary-color: #707070;
  --accent-color: #5f2ef5;
}
